.cart-container { max-width: 1000px; margin: 50px auto; font-family: Arial, sans-serif; }
.cart-table { width: 100%; border-collapse: collapse; margin-bottom: 20px; }
.cart-table th { border-bottom: 2px solid #eee; padding: 15px; text-align: left; color: #666; }
.cart-table td { padding: 15px; border-bottom: 1px solid #eee; vertical-align: middle; }

.cart-img { width: 60px; height: 60px; object-fit: cover; border-radius: 5px; }
.remove-item { color: red; cursor: pointer; font-weight: bold; }

/* Nút tăng giảm trong bảng */
.qty-btn { background: #eee; border: none; padding: 5px 10px; cursor: pointer; }
.qty-input { width: 40px; text-align: center; border: 1px solid #ddd; margin: 0 5px; }

/* Phần tổng tiền */
.cart-totals { width: 400px; margin-left: auto; border: 1px solid #eee; padding: 20px; }
.cart-totals table { width: 100%; }
.cart-totals td { padding: 10px 0; }
.final-total { color: #f39c12; font-weight: bold; font-size: 1.2em; }

.btn-update, .btn-checkout {
    background: #f39c12; color: white; border: none; padding: 10px 20px;
    cursor: pointer; text-transform: uppercase; font-weight: bold;
}
.btn-checkout { width: 100%; margin-top: 15px; font-size: 1.1em; }

.top-banner {

    width: 100%;
    height: 200px; /* Độ cao của khung */
    background-color: #fcfbf4; /* Màu nền vàng nhạt giống ảnh mẫu */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.banner-content h1 {
    margin: 0;
    font-size: 40px;
    color: #e67e22; /* Màu cam đậm cho chữ Tuyển Dụng */
    text-transform: uppercase; /* Viết hoa toàn bộ */
    letter-spacing: 2px;
}

.banner-content p {
    margin: 10px 0 0 0;
    font-size: 16px;
    color: #bdc3c7; /* Màu xám nhạt cho dòng Trang chủ / Tuyển dụng */
}


.right, .left{
    font-size: 100px;
}